.headerWrapper {
    margin: auto;
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #20364D;
}

.logoWrapper {
    width: 10%;
    height: 100%;
    background-color: #E77500;
    justify-content: center;
    display: flex;
    align-items: center;
}

.linkWrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 1rem;
    align-items:center;
}

.headerLinks {
    padding: 1rem;
    color: white;
    text-decoration: none;
}

.headerLinks:hover {
    color: orange
}